body{
    background-color: #2A2A2A;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    z-index: 9999;
    /*width: 100%;*/
    /*height: 100vh;*/
}

header>div{
    background-color: #2A2A2A;
    height: 10vh;
    width: 100%;
    position: fixed;

    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;*/
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

header>div>nav{
    position: absolute;
    right: 30px;
    top: 30%;
    margin: auto;
}

header>div>nav>a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: 'Borel', cursive;
    font-family: 'Indie Flower', cursive;
}

header>div>nav>a:hover{
    color: #A7033F;
    font-size: larger;
    font-weight: bolder;
    /*background-color: white;*/
}

header>div>picture{
    position: absolute;
    left: 2%;
    top: 20%;
    margin: auto;
}

#sec1>#myPic{
    position: absolute;
    left: 49.8vw;
    /*!*top: 0;*!*/
    /*margin: auto;*/
}

/*#sec1>#myPic:hover{*/
/*    transform: scale(1.1);*/
/*    cursor: pointer;*/
/*}*/

#sec1sub{
    width: 50vw;
    height: 100vh;
    position: absolute;
    left: 7vw;
    top: 15vh;
}

#sec1{
    position: absolute;
    top: 10vh;
    left: 5%;
}

#sec1>#sec1sub>h1{
    font-family: "Indie Flower";
    font-size: xxx-large;
    color: #CCCCCC;
    /*padding: 15px;*/
    /*position: absolute;*/
    /*left: 10vw;*/
}

#sec1>#sec1sub>h2{
    font-family: 'Borel', cursive;
    font-family: 'Caprasimo', cursive;
    font-family: 'Cherry Bomb One', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Kavoon', cursive;
    font-size: xxx-large;
    /*padding: 15px;*/
    color: #A7033F;
    text-shadow: 2px 2px 4px #434343;
    position: relative;
    left: 1.5vw;
}

#sec1>#sec1sub>h3{
    font-family: "Indie Flower";
    font-size: xx-large;
    color: #CCCCCC;
    /*padding: 15px;*/
    position: relative;
    left: 0.2vw;
}

#sec1>#sec1sub>.btn1{
    position: relative;
    left: 30px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

#sec1>#sec1sub>#pdf{
    width: 125px;
    height: 15px;
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid #A7033F;
    position: absolute;
    text-decoration: none;
    font-family: "Indie Flower";
}

#sec1>#sec1sub>#pdf:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: 2px solid #A7033F;
}

#sec1>#sec1sub>#pdf>div{
    color: #E2E2E2;
    position: absolute;
    left: 35px;
    bottom: 8px;
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
    /*right: 0;*/
}

#sec1>#sec1sub>#pdf>img{
    position: absolute;
    bottom: 4px;
    left: 5px;
}

#sec1>#sec1sub>#qr{
    left: 170px;
    top: 3px;
}

/*#sec1>#sec1sub>#qr:hover{*/
/*    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;*/
/*}*/

/*#sec1>#sec1sub>.btn1:hover{*/
/*    transform: scale(1.5);*/
/*}*/

#sec1>#sec1sub>.btn2{
    position: relative;
    left: 10px;
    filter: grayscale(95%);
}

#sec1>#sec1sub>.btn2:hover{
    filter: grayscale(0%);
    /*box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;*/
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#sec2{
    position: absolute;
    top: 110vh;
    left: 10vw;
}

#sec2>#about{
    opacity: 0;
}

#sec2>img{
    position: absolute;
    left: 50px;
}

#sec2>h2{
    position: relative;
    left: 400px;
    top: 75px;
    color: #E2E2E2;
    font-size: xxx-large;
    font-family: 'Itim', cursive;
}

#sec2>section{
    position: absolute;
    border: 2px solid #A7033F;
    border-radius: 25px;
    width: 700px;
    font-size: large;
    padding: 10px;
    color: #E2E2E2;
    font-family: 'Itim', cursive;
    top: 250px;
    left: 390px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/*#sec2>p{*/
/*    position: absolute;*/
/*    align-content: center;*/

/*}*/

/*#sec2>p:first-child{*/
/*    top: 220px;*/
/*    left: 390px;*/
/*}*/


#sec3{
    position: absolute;
    top: 220vh;
    left: 5vw;
}

#sec3>#edu{
    font-family: cursive;
    opacity: 0;
}

#sec3>#sec3sub{
    /*border: 1px solid #A7033F;*/
    position: absolute;
    left: 20vw;
    width: 20vw;
    top: 20vh;
}

#sec3>#sec3sub>#div1{
    position: absolute;
    /*border-radius: 25%;*/

    background-color: #555555;
    width: 25vw;
    border: 1px solid #A7033F;
    border-bottom-color: transparent;
    /*border-top-right-radius: 25px;*/
    /*border-top-left-radius: 25px;*/
    border-radius: 25px;
    /*z-index: 1;*/
}

#sec3>#sec3sub>#div1>p{
    position: relative;
    color: #E2E2E2;
    font-size: 20px;
    font-family: 'Itim', cursive;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    /*padding-right: 0;*/
}

#sec3>#sec3sub>#div2{
    position: absolute;
    border: 1px solid #A7033F;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-color: transparent;
    width: 25vw;
    top: 8vh;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#sec3>#sec3sub>#div2>p{
    position: absolute;
    color: #E2E2E2;
    font-family: 'Itim', cursive;
    left: 10px;
    right: 10px;
    text-align: justify;
    z-index: 1;
}

#sec3>#sec3sub>#div2>p:first-child{
    top: 6vh;
}

#sec3>#sec3sub>#div2>p:nth-child(2){
    top: 26vh;
}

#sec3>#sec3sub>#div2>p:nth-child(3){
    top: 33vh;
}

#sec3>#sec3sub>#div2>img{
    position: relative;
    top: 10vh;
    left: 6vw;
    opacity: 70%;
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
}

#sec3>#sec3sub>#div2>a>img{
    position: relative;
    top: 8vh;
    left: 10px;
}

#sec3>#sec3sub2{
    position: absolute;
    left: 52vw;
    /*width: 1000px;*/
    top: 20vh;
}


#sec3>#sec3sub2>#div3{
    position: absolute;
    /*border-radius: 25%;*/

    background-color: #555555;
    width: 25vw;
    border: 1px solid #A7033F;
    border-bottom-color: transparent;
    /*border-top-right-radius: 25px;*/
    /*border-top-left-radius: 25px;*/
    border-radius: 25px;
    /*z-index: 1;*/
}

#sec3>#sec3sub2>#div3>p{
    position: relative;
    color: #E2E2E2;
    font-size: 20px;
    font-family: 'Itim', cursive;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    /*padding-right: 0;*/
    /*z-index: 1;*/
}

#sec3>#sec3sub2>#div4{
    position: absolute;
    border: 1px solid #A7033F;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-color: transparent;
    width: 25vw;
    height: 51vh;
    top: 8vh;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#sec3>#sec3sub2>#div4>p{
    position: absolute;
    color: #E2E2E2;
    font-family: 'Itim', cursive;
    left: 10px;
    right: 10px;
    text-align: justify;
    z-index: 1;
}

#sec3>#sec3sub2>#div4>p:first-child{
    top: 6vh;
}

#sec3>#sec3sub2>#div4>p:nth-child(2){
    top: 20vh;
}

#sec3>#sec3sub2>#div4>img{
    position: relative;
    top: 15vh;
    left: 3vw;
    opacity: 70%;
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
}

#sec3>#sec3sub2>#div4>a>img{
    position: relative;
    top: 23vh;
    left: 10px;
}


#sec4{
    position: absolute;
    top: 325vh;
}

#sec4>h1{
    font-family: cursive;
    opacity: 0;
}

#sec4>img{
    position: absolute;
    left: 60vw;
    top: 25vh;
}

#sec4>div>div:first-child{
    position: relative;
    color: #E2E2E2;
    left: 58vw;
    bottom: 5vh;
    border-radius: 25px;
    border: 1px solid #A7033F;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    width: 220px;
    height: 20px;
}

#sec4>div>div:first-child>img{
    position: absolute;
    left: 10px;
    top: 5px;
}

#sec4>div>div:first-child>div{
    position: absolute;
    left: 50px;
    font-family: 'Itim', cursive;
}

#sec4>div>div:first-child::before{

}

#sec4>div>div:nth-child(2){
    position: absolute;
    color: #E2E2E2;
    top: 35vh;
    left: 43vw;
    border-radius: 25px;
    border: 1px solid #A7033F;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    width: 200px;
    height: 20px;
}

#sec4>div>div:nth-child(2)>img{
    position: absolute;
    left: 10px;
    top: 5px;
}

#sec4>div>div:nth-child(2)>div{
    position: relative;
    left: 60px;
    font-family: 'Itim', cursive;
}

#sec4>div>div:nth-child(3){
    position: absolute;
    color: #E2E2E2;
    left: 30vw;
    top: 55vh;
    border-radius: 25px;
    border: 1px solid #A7033F;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    width: 200px;
    height: 20px;
}

#sec4>div>div:nth-child(3)>img{
    position: absolute;
    left: 10px;
    top: 5px;
}

#sec4>div>div:nth-child(3)>div{
    position: relative;
    left: 55px;
    font-family: 'Itim', cursive;
}


#sec4>div>div:nth-child(4){
    position: absolute;
    color: #E2E2E2;
    left: 43vw;
    top: 72vh;
    border-radius: 25px;
    border: 1px solid #A7033F;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    width: 200px;
    height: 20px;
}

#sec4>div>div:nth-child(4)>img{
    position: absolute;
    left: 10px;
    top: 5px;
}

#sec4>div>div:nth-child(4)>div{
    position: relative;
    left: 40px;
    font-family: 'Itim', cursive;
}

#sec4>div>div:nth-child(5){
    position: relative;
    color: #E2E2E2;
    left: 60vw;
    top: 55vh;
    border-radius: 25px;
    border: 1px solid #A7033F;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    width: 200px;
    height: 20px;
}

#sec4>div>div:nth-child(5)>img{
    position: absolute;
    left: 10px;
    top: 5px;
}

#sec4>div>div:nth-child(5)>div{
    position: relative;
    left: 55px;
    font-family: 'Itim', cursive;
}

/*#sec4>#line1{*/
/*    position: absolute;*/
/*    color: blue;*/
/*    height: 10vh;*/
/*    width: 100vw;*/
/*}*/


#sec4>div>.line{
    position: relative;
    left: 11vw;
    background-color: #A7033F;
    height: 1px;
}

#sec4>div>div:nth-child(6){
    bottom: 15vh;
    width: 47vw;
}

#sec4>div>div:nth-child(7){
    top: 2.8vh;
    width: 32vw;
}


#sec4>div>div:nth-child(8){
    top: 22.5vh;
    width: 19vw;
}

#sec4>div>div:nth-child(9){
    top: 39.5vh;
    width: 32vw;
}


#sec4>div>div:nth-child(10){
    top: 51vh;
    width: 49vw;
}



#sec5{
    position: absolute;
    top: 435vh;
}

#sec5>h1{
    font-family: cursive;
    opacity: 0;
}

#sec5>div{
    position: absolute;
    /*display: inline;*/
}

#sec5>#pro1{
    left: 20vw;
    top: 25vh;
}

#sec5>#pro1:hover{
    /*transform: scale(1.1);*/
    transition-duration: 0.5s;
    transform: translateY(-10px);
    /*border: 2px solid red;*/
}

#sec5>#pro1>div:first-child{
    position: absolute;
    width: 20vw;
    height: 58vh;
    background-color: #353535;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/*#sec5>#pro1>div:first-child:hover{*/
/*    border: 2px solid palevioletred;*/
/*    border-radius: 20px;*/
/*}*/

#sec5>#pro1>div:first-child>div{
    position: absolute;
    top: 25vh;
    left: 10px;
    right: 10px;
}

#sec5>#pro1>div:first-child>div>div{
    font-family: 'Itim', cursive;
    text-align: justify;
    color: #E2E2E2;
    margin-bottom: 0;
}

#sec5>#pro1>div>div>div>#p1{
    margin-top: 6px;
    /*color: #8b0335;*/
    font-style: italic;
}

#sec5>#pro1>div:nth-child(2){
    position: absolute;
    width: 272px;
    height: 18vh;
    background-color: #501F31;
    border-radius: 15px;
    top: 40vh;
}

#sec5>#pro1>img{
    position: absolute;
    z-index: 1;
}

#sec5>#pro1>div>p{
    font-family: 'Itim', cursive;
    font-size: large;
    position: absolute;
    left: 10px;
    right: 10px;
    text-align: justify;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/


#sec5>#pro1>div>.btn1{
    position: relative;
    left: 10px;
    top: 11vh;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

#sec5>#pro1>div>#pdf1{
    width: 130px;
    height: 15px;
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid #A7033F;
    position: absolute;
    text-decoration: none;
    font-family: "Indie Flower";
}

#sec5>#pro1>div>#pdf1:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: 2px solid #A7033F;
    background-color: #2A2A2A;
}

#sec5>#pro1>div>#pdf1>div{
    color: #E2E2E2;
    position: absolute;
    left: 35px;
    bottom: 9px;
    font-family: "Itim" , cursive;
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
    /*right: 0;*/
}

#sec5>#pro1>div>#pdf1>img{
    position: absolute;
    bottom: 5px;
    left: 8px;
}


/*////////////////////////////////////////////////////////////////////////////////////*/
#sec5>#pro2{
    left: 42.5vw;
    top: 25vh;
}

#sec5>#pro2:hover{
    /*transform: scale(1.1);*/
    transition-duration: 0.3s;
    transform: translateY(-10px);
}

#sec5>#pro2>div:first-child{
    position: absolute;
    width: 19.9vw;
    height: 58vh;
    background-color: #353535;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#sec5>#pro2>div:first-child>div{
    position: absolute;
    top: 25vh;
    left: 10px;
    right: 10px;
}

#sec5>#pro2>div:first-child>div>div{
    font-family: 'Itim', cursive;
    text-align: justify;
    color: #E2E2E2;
    margin-bottom: 0;
}

/*#sec5>#pro2>div>div>div>#p_1{*/
/*    margin-top: 0;*/
/*    !*color: #8b0335;*!*/
/*    font-style: italic;*/
/*}*/

#sec5>#pro2>div:nth-child(2){
    position: absolute;
    width: 272px;
    height: 18vh;
    background-color: #501F31;
    border-radius: 15px;
    top: 40vh;
}

#sec5>#pro2>img{
    position: absolute;
    z-index: 1;
}

#sec5>#pro2>div>p{
    font-family: 'Itim', cursive;
    font-size: large;
    position: absolute;
    left: 10px;
    right: 10px;
    text-align: justify;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/


#sec5>#pro2>div>.btn1{
    position: relative;
    left: 10px;
    top: 11vh;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

#sec5>#pro2>div>#pdf_1{
    width: 130px;
    height: 15px;
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid #A7033F;
    position: absolute;
    text-decoration: none;
    font-family: "Indie Flower";
}

#sec5>#pro2>div>#pdf_1:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: 2px solid #A7033F;
    background-color: #2A2A2A;
}

#sec5>#pro2>div>#pdf_1>div{
    color: #E2E2E2;
    position: absolute;
    left: 35px;
    bottom: 9px;
    font-family: "Itim" , cursive;
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
    /*right: 0;*/
}

#sec5>#pro2>div>#pdf_1>img{
    position: absolute;
    bottom: 5px;
    left: 8px;
}

#sec5>#pro3{
    left: 65vw;
    top: 25vh;
}

#sec5>#pro3:hover{
    /*transform: scale(1.1);*/
    transition-duration: 0.3s;
    transform: translateY(-10px);
}

#sec5>#pro3>div:first-child{
    position: absolute;
    width: 19.9vw;
    height: 58vh;
    background-color: #353535;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#sec5>#pro3>div:first-child>div{
    position: absolute;
    top: 25vh;
    left: 10px;
    right: 10px;
}

#sec5>#pro3>div:first-child>div>div{
    font-family: 'Itim', cursive;
    text-align: justify;
    color: #E2E2E2;
    margin-bottom: 0;
    position: absolute;
    top: 7vh;
}

/*#sec5>#pro2>div>div>div>#p_1{*/
/*    margin-top: 0;*/
/*    !*color: #8b0335;*!*/
/*    font-style: italic;*/
/*}*/

#sec5>#pro3>div:nth-child(2){
    position: absolute;
    width: 272px;
    height: 18vh;
    background-color: #501F31;
    border-radius: 15px;
    top: 40vh;
}

#sec5>#pro3>img{
    position: absolute;
    z-index: 1;
}

#sec5>#pro3>div>p{
    font-family: 'Itim', cursive;
    font-size: large;
    position: absolute;
    left: 10px;
    right: 10px;
    text-align: justify;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/


#sec5>#pro3>div>.btn1{
    position: relative;
    left: 10px;
    top: 11vh;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

#sec5>#pro3>div>#pdf__1{
    width: 130px;
    height: 15px;
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid #A7033F;
    position: absolute;
    text-decoration: none;
    font-family: "Indie Flower";
}

#sec5>#pro3>div>#pdf__1:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: 2px solid #A7033F;
    background-color: #2A2A2A;
}

#sec5>#pro3>div>#pdf__1>div{
    color: #E2E2E2;
    position: absolute;
    left: 35px;
    bottom: 9px;
    font-family: "Itim" , cursive;
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
    /*right: 0;*/
}

#sec5>#pro3>div>#pdf__1>img{
    position: absolute;
    bottom: 5px;
    left: 8px;
}


#sec6{
    position: absolute;
    top: 545vh;
}

#sec6>#assignments{
    opacity: 0;
}

#sec6>div{
    display: inline-flex;
    position: absolute;
    top: 100px;
    left: 18vw;
}

#sec6>div>div{
    position: relative;
    background-color: #5B0021;
    /*background-color: #A7033F;*/
    /*opacity: 25%;*/
    border-radius: 20px;
    width: 200px;
    height: 150px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;



    transition-duration: 0.5s;
    cursor: pointer;
}

#sec6>div>div:hover{
    transform: scale(1.1);
    /*border: 1px solid palevioletred;*/
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    z-index: 1;
    border: 1px solid transparent;

    animation-name: my_animation3;
    animation-duration: 0.5s;
    /*animation-direction: reverse;*/
    animation-iteration-count: infinite;
    /*animation-direction: alternate;*/
}

@keyframes my_animation3 {
    0%{

    }
    25%{
        border-top-color: #A7033F;
    }
    50%{
        border-right-color:  #A7033F;
    }
    75%{
        border-bottom-color:  #A7033F;
    }
    100%{
        border-left-color:  #A7033F;
    }
}

#sec6>.setC>.divA>.p{
    color: #A9A9A9;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Itim' , cursive;
    text-align: center;
}

#sec6>.setC>div>.assign{
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    margin: auto;
    background-color: #2A2A2A;
    width: 200px;
    height: 35px;
    /*opacity: 75%;*/
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#sec6>#set1>div>div>div{
    position: absolute;
    left: 35px;
    top: 8px;
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
    color: #A9A9A9;
    z-index: 1;
    font-family: 'Itim' , cursive;
}

#sec6>.setC>div>div>.divImg>img{
    position: absolute;
    left: 120px;
}

#sec6>.setC>div>div>.divImg:hover{
    transform: translateY(-3px);
}

#sec6>.setC>div>div>.divImg>{
    position: absolute;
    left: 150px;
    width: 20px;
    height: 20px;
}

#sec6>#set2>.divA>.p{
    top: 35px;
}

#sec6>#set2{
    position: absolute;
    top: 43vh;
}

/*/////////////////////////////////////*/


#sec6>#set2>div>.assign{
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    margin: auto;
    background-color: #2A2A2A;
    width: 200px;
    height: 35px;
    /*opacity: 75%;*/
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#sec6>#set2>div>div>div{
    position: absolute;
    left: 35px;
    top: 8px;
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
    color: #A9A9A9;
    z-index: 1;
    font-family: 'Itim' , cursive;
}

/*#sec6>.setC>div>div>#divImg2>img{*/
/*    position: absolute;*/

/*}*/

/*#sec6>.setC>div>div>#divImg2{*/
/*    position: absolute;*/
/*    left: 150px;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*}*/

#sec6>#set3{
    position: absolute;
    top: 69.5vh;
}

/*//////////////////////////////////////////////*/


#sec6>#set3>div>.assign{
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    margin: auto;
    background-color: #2A2A2A;
    width: 200px;
    height: 35px;
    /*opacity: 75%;*/
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#sec6>#set3>div>div>div{
    position: absolute;
    left: 35px;
    top: 8px;
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
    color: #A9A9A9;
    z-index: 1;
    font-family: 'Itim' , cursive;
}

#sec6>#set3>.divA:nth-last-child(1)>.p{
    top: 35px;
}

/*#sec6>#set3>div>div>.divImg>img{*/
/*    position: absolute;*/

/*}*/

/*#sec6>#set3>div>div>.divImg{*/
/*    position: absolute;*/
/*    !*left: 150px;*!*/
/*    width: 20px;*/
/*    height: 20px;*/
/*}*/


/*#sec6>div>div:first-child{*/
/*    !*left: 250px;*!*/
/*}*/

/*#sec6>div>div:nth-child(2){*/
/*    !*left: 50px;*!*/
/*}*/


#sec7>#div7_1{
    width: 1px;
    height: 110vh;
    position: relative;
    left: 2vw;
    background-color: #A7033F;
}

#sec7>#div7_2{
    height: 1px;
    width: 124px;
    position: relative;
    /*top: 100vh;*/
    left: 2vw;
    background-color: #A7033F;
}

#sec7>#div7_3{
    width: 1px;
    height: 565vh;
    position: relative;
    /*left: 11vw;*/
    left: 11vw;
    /*top: 100vh;*/
    background-color: #A7033F;
    /*z-index: 1;*/
}


#sec7>#div7_4{
    width: 60px;
    height: 60vh;
    position: relative;
    /*left: 11vw;*/
    left: 3.5vw;
    /*top: 100vh;*/
    background-color: transparent;
    border: 1px solid #A7033F;
    border-radius: 35px;
    bottom: 540vh;
}

#sec7>#div7_4>div{
    color: #A7033F;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    position: absolute;
    left: 10px;
    top: 12px;
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
}

#sec7>#div7_4>div:nth-child(2){
    top: 57px;
}

#sec7>#div7_4>div:nth-child(3){
    top: 102px;
}


#sec7>#div7_4>div:nth-child(4){
    top: 147px;
}

#sec7>#div7_4>div:nth-child(5){
    top: 192px;
}

#sec7>#div7_4>div:nth-child(6){
    top: 252px;
    left: 7px;
}

#sec7>#div7_4>div:nth-child(7){
    top: 297px;
}


#sec7>#div7_4>div:nth-child(8){
    height: 1px;
    width: 41px;
    background-color: #A7033F;
    position: absolute;
    top: 28vh;
    left: 60px;
}

#sec7>#div7_5{
    width: 60px;
    height: 78vh;
    position: absolute;
    /*left: 11vw;*/
    left: 3.5vw;
    /*top: 100vh;*/
    background-color: transparent;
    border: 1px solid #A7033F;
    border-radius: 35px;
    /*bottom: 535vh;*/
    top: 235vh;
}

#sec7>#div7_5>div{
    color: #A7033F;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    position: absolute;
    left: 10px;
    top: 12px;
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
}

#sec7>#div7_5>div:nth-child(2){
    top: 57px;
}

#sec7>#div7_5>div:nth-child(3){
    top: 102px;
}


#sec7>#div7_5>div:nth-child(4){
    top: 147px;
}

#sec7>#div7_5>div:nth-child(5){
    top: 192px;
}

#sec7>#div7_5>div:nth-child(6){
    top: 252px;
    left: 7px;
}

#sec7>#div7_5>div:nth-child(7){
    top: 297px;
}

#sec7>#div7_5>div:nth-child(8){
    top: 350px;
    left: 7px;
}

#sec7>#div7_5>div:nth-child(9){
    top: 400px;
}

#sec7>#div7_5>div:nth-child(10){
    top: 220px;
    height: 1px;
    width: 41px;
    background-color: #A7033F;
    position: absolute;
    left: 60px;
}

#sec7>#div7_5>div:nth-child(11){
    width: 26vw;
    height: 1px;
    background-color: #A7033F;
    position: absolute;
    left: 101px;
}

#sec7>#div7_5>div:nth-child(12){
    width: 58vw;
    height: 1px;
    background-color: #A7033F;
    position: absolute;
    left: 101px;
    top: -5px;
}

#sec7>#div7_5>div:nth-child(13){
    width: 1px;
    height: 18px;
    background-color: #A7033F;
    position: absolute;
    left: 33.4vw;
}

#sec7>#div7_5>div:nth-child(14){
    width: 1px;
    height: 33px;
    background-color: #A7033F;
    position: absolute;
    left: 65.4vw;
    top: -5px;
}

#sec7>#div7_6{
    width: 60px;
    height: 50vh;
    position: absolute;
    /*left: 11vw;*/
    left: 3.5vw;
    /*top: 100vh;*/
    background-color: transparent;
    border: 1px solid #A7033F;
    border-radius: 35px;
    /*bottom: 535vh;*/
    top: 360vh;
}

#sec7>#div7_6>div{
    color: #A7033F;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    position: absolute;
    left: 10px;
    top: 12px;
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
}

#sec7>#div7_6>div:nth-child(2){
    top: 57px;
}

#sec7>#div7_6>div:nth-child(3){
    top: 102px;
}


#sec7>#div7_6>div:nth-child(4){
    top: 147px;
}

#sec7>#div7_6>div:nth-child(5){
    top: 192px;
}

#sec7>#div7_6>div:nth-child(6){
    top: 240px;
    left: 7px;
}

#sec7>#div7_6>div:nth-child(7){
    top: 143px;
    height: 1px;
    width: 41px;
    background-color: #A7033F;
    position: absolute;
    left: 60px;
}

#sec7>#div7_7{
    width: 60px;
    height: 64vh;
    position: absolute;
    /*left: 11vw;*/
    left: 3.5vw;
    /*top: 100vh;*/
    background-color: transparent;
    border: 1px solid #A7033F;
    border-radius: 35px;
    /*bottom: 535vh;*/
    top: 460vh;
}

#sec7>#div7_7>div{
    color: #A7033F;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    position: absolute;
    left: 10px;
    top: 12px;
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
}

#sec7>#div7_7>div:nth-child(2){
    top: 57px;
}

#sec7>#div7_7>div:nth-child(3){
    top: 102px;
}


#sec7>#div7_7>div:nth-child(4){
    top: 147px;
}

#sec7>#div7_7>div:nth-child(5){
    top: 192px;
}

#sec7>#div7_7>div:nth-child(6){
    top: 240px;
    left: 7px;
}

#sec7>#div7_7>div:nth-child(7){
    top: 285px;
    left: 7px;
}

#sec7>#div7_7>div:nth-child(8){
    top: 325px;
    left: 7px;
}

#sec7>#div7_7>div:nth-child(9){
    top: 195px;
    height: 1px;
    width: 41px;
    background-color: #A7033F;
    position: absolute;
    left: 60px;
}


#sec7>#div7_8{
    width: 60px;
    height: 85vh;
    position: absolute;
    /*left: 11vw;*/
    left: 3.5vw;
    /*top: 100vh;*/
    background-color: transparent;
    border: 1px solid #A7033F;
    border-radius: 35px;
    /*bottom: 535vh;*/
    top: 559vh;
}

#sec7>#div7_8>div{
    color: #A7033F;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    position: absolute;
    left: 10px;
    top: 12px;
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
}

#sec7>#div7_8>div:nth-child(2){
    top: 57px;
}

#sec7>#div7_8>div:nth-child(3){
    top: 102px;
}


#sec7>#div7_8>div:nth-child(4){
    top: 147px;
}

#sec7>#div7_8>div:nth-child(5){
    top: 192px;
}

#sec7>#div7_8>div:nth-child(6){
    top: 240px;
    left: 7px;
}

#sec7>#div7_8>div:nth-child(7){
    top: 285px;
    left: 7px;
}

#sec7>#div7_8>div:nth-child(8){
    top: 330px;
    left: 7px;
}


#sec7>#div7_8>div:nth-child(9){
    top: 370px;
    left: 7px;
}


#sec7>#div7_8>div:nth-child(10){
    top: 410px;
    left: 7px;
}


#sec7>#div7_8>div:nth-child(11){
    top: 448px;
    left: 7px;
}

#sec7>#div7_8>div:nth-child(12){
    top: 250px;
    height: 1px;
    width: 41px;
    background-color: #A7033F;
    position: absolute;
    left: 60px;
}
